{% extends "base.html" %}
{% load static %}



{% block content %}
{% include 'includes/nav-lg.html' %}
{% include 'includes/nav-mobile.html' %}

<!-- hero section -->

<section class='hero-container'>
    <div class="hero-content-wrapper">
        <div class="hero-content">
            <h1 class='hero-title'>LOREM IPSUM DOLOR SIT</h1>
            <p>lorem ipsum dolor sit teres sit ipsum lorem ipsum
                dolor sit teres sit ipsum
            </p>
            <div class="button_element">
                <div data-tilt class="red-cover"></div>
                <button data-tilt class='btn shop-button'>SHOP NOW</button>
            </div>

        </div>
        <div data-tilt class="product-price_wrapper">
            <div class="product-price_bubble">
                <h1><span>€</span>249</h1>
            </div>
        </div>
        <div data-tilt class="social-sidebar">
            <hr>
            <a href='mailto:info@footlook.com' class='social-title'>info@footlook.com</a> 
            <div class="social-icons_wrapper rotate-selector">
                <a href="https://www.facebook.com/" target='_blank'><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/?lang=en" target='_blank'><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/" target='_blank'><i class=" fab fa-instagram"></i></a>

            </div>

        </div>
    </div>
    <hr class='hr-lg w-75 hr-align'>

</section>

{% endblock %}