{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- hero section -->
<section class='hero-container'>
    <div class="hero-content-wrapper">
        <div class="hero-content">
            <h1 class='hero-title'>Walk your journey with us!</h1>
            <p>Explore our rich range of Adidas shoes and find your best fit
            </p>
            <div class="button_element">
                <div data-tilt class="red-cover"></div>
                <a href="{% url 'products'  %}" data-tilt class='btn shop-button'>SHOP NOW</a>
            </div>

        </div>
        <div data-tilt class="product-price_wrapper">
            <div class="product-price_bubble">
                <h1><span>€</span>249</h1>
            </div>
        </div>
        <div data-tilt class="social-sidebar">
            <hr>
            <a href='mailto:info@footlook.com' class='social-title'>info@footlook.com</a> 
            <div class="social-icons_wrapper rotate-selector">
                <a href="https://www.facebook.com/" target='_blank' title='Facebook' rel="noreferrer"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/?lang=en" target='_blank' title='Twitter' rel="noreferrer"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/" target='_blank' title='Instagram' rel="noreferrer"><i class=" fab fa-instagram"></i></a>

            </div>

        </div>
    </div>
    <hr class='hr-lg w-75 hr-align'>

</section>

<!--New arrivals section-->
<section data-aos="fade-up" data-aos-duration="2000" data-aos-once="true" class="section-wrapper">
    <h1 class='section_title'>NEW ARRIVALS</h1>
    <div class="horizontal_divide">
    </div>
    <div class="product-slider-container">
        {% for product in products %}
        <div class="product-slider_item">
            <div class="learn-more-wrapper">
                <div class="background-overlay"></div>
                <a class='learn-more-btn' href="{% url 'product_detail' product.id %}">Learn More</a>
                <img src="{{product.images|first}}" alt="{{product.name}}">
                <h2 class='product-price'><span>€</span>{{product.price}}</h2>
            </div>
            <h2>{{product.name}}</h2>
            {% if product.brand == 'CORE / NEO' %}
            <a href="{% url 'products' %}?brand=CORE%20/%20NEO">{{product.brand}}</a>
            {% elif product.brand == 'SPORT PERFORMANCE' %}
            <a href="{% url 'products' %}?brand=SPORT%20/%20PERFORMANCE">{{product.brand}}</a>
            {% else %}
            <a href="{% url 'products' %}?brand={{product.brand}}">{{product.brand}}</a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <hr>
    <div class="slider-navigation">
        <h3>Next</h3><img src="{{MEDIA_URL}}arrow-right-lg.png" alt="arrow-right">
    </div>
</section>

<!--Testimonials section-->
<section data-aos="fade-up" data-aos-duration="2500" data-aos-once="true" class="section-wrapper section_background">
    <h1 class='section_title'>TESTIMONIALS</h1>
    <div class="horizontal_divide"></div>
    <div class="testimonials-container">
        <div class="person-info">
            <div class="person-info-card">
                <div class="person-details">
                    <img src="{{MEDIA_URL}}review-1.png" alt="image of person who left a review">
                    <div class="person-name">
                        <h4>Jessica Jones</h4>
                        <h6>27, Dublin</h6>
                    </div>
                </div>
            </div>
            <div class="person-info-card">
                <div class="person-details">
                    <img src="{{MEDIA_URL}}review-2.png" alt="image of person who left a review">
                    <div class="person-name">
                        <h4>Clare Hopkins</h4>
                        <h6>22, Cork</h6>
                    </div>
                </div>
            </div>
            <div class="person-info-card">
                <div class="person-details">
                    <img src="{{MEDIA_URL}}review-3.png" alt="image of person who left a review">
                    <div class="person-name">
                        <h4>Mark Johnson</h4>
                        <h6>25, Dublin</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonials-content review_one">
            <h2>Best Shoes Ever</h2>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <p>
                I just recently bought my new adidas runners and I can't be hapier with the service.
                Shoes are so comfy and very good quality. I would recommend Footlook to anyone.
            </p>
        </div>
        <div class="testimonials-content review_two">
            <h2>I love shopping at Footlook</h2>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <p>Footlook are the best shop for my footware. They always have the newest collections and competitive pricing.
                All my orders were delivered efficiently and their shoe quality is great!</p>
        </div>
        <div class="testimonials-content review_three">
            <h2>Great deals and prices!</h2>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <p>The reason why I love Footlook so much are the best deals and prices. They go above and beyond with their delivery turnaround and
                service. Highly recommend!</p>
        </div>
    </div>
</section>

<!-- Mobile Version Testimonials-->
<section data-aos="fade-up" data-aos-duration="2500" data-aos-once="true" class="testimonial-mobile-wrapper">
    <h1 class='section_title'>TESTIMONIALS</h1>
    <div class="horizontal_divide"></div>
    <div class='testimonial-mobile-content'>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="person-info-card">
                        <div class="person-details-mobile">
                            <img src="{{MEDIA_URL}}review-1.png" alt="image of person who left a review">
                            <div class="person-name">
                                <h4>Jessica Jones</h4>
                                <h6>27, Ohio</h6>
                            </div>
                        </div>
                    </div>

                    <div class="testimonials-content">
                        <h2>Best Shoes Ever</h2>
                        <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus fugiat ipsam sint, sapiente laudantium voluptatum
                            pariatur
                            odio ducimus vel maxime a dolores reprehenderit quae quaerat adipisci alias error consequatur in.</p>
                    </div>

                </div>
                <div class="carousel-item">
                    <div class="person-info-card">
                        <div class="person-details-mobile">
                            <img src="{{MEDIA_URL}}review-2.png" alt="image of person who left a review">
                            <div class="person-name">
                                <h4>Clare Hopkins</h4>
                                <h6>22, New York</h6>
                            </div>
                        </div>
                    </div>

                    <div class="testimonials-content">
                        <h2>I love shopping at Footlook</h2>
                        <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus fugiat ipsam sint, sapiente laudantium voluptatum
                            pariatur
                            odio ducimus vel maxime a dolores reprehenderit quae quaerat adipisci alias error consequatur in.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="person-info-card">
                        <div class="person-details-mobile">
                            <img src="{{MEDIA_URL}}review-3.png" alt="image of person who left a review">
                            <div class="person-name">
                                <h4>Mark Johnson</h4>
                                <h6>25, Chicago</h6>
                            </div>
                        </div>
                    </div>

                    <div class="testimonials-content">
                        <h2>I love shopping at Footlook</h2>
                        <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus fugiat ipsam sint, sapiente laudantium voluptatum
                            pariatur
                            odio ducimus vel maxime a dolores reprehenderit quae quaerat adipisci alias error consequatur in.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Shop By Category -->

<section data-aos="fade-up" data-aos-duration="2500" data-aos-once="true" class="section-wrapper">
    <h1 class='section_title'>SHOP BY CATEGORY</h1>
    <div class="horizontal_divide">
    </div>
    <div class="category-container">
        <div data-aos="fade-up-right" data-aos-duration="1000" data-aos-once="true" class="category-box">
            <div class="background-overlay"></div>
            <h1>MEN</h1>
            <a href="{% url 'products' %}?category=men">Shop</a>
        </div>
        <div data-aos="fade-up-left" data-aos-duration="1000" data-aos-once="true" class="category-box">
            <div class="background-overlay"></div>
            <h1>WOMEN</h1>
            <a href="{% url 'products' %}?category=women">Shop</a>
        </div>
        <div class="category-box">
            <div class="background-overlay"></div>
            <h1>ALL PRODUCTS</h1>
            <a href="{% url 'products' %}">Shop</a>
        </div>
    </div>
</section>
{% endblock %}