{% extends "base.html" %}
{% load static %}

{% block title_extend %} | My Profile{% endblock %}

{% block content %}

<div class="checkout-heading-wrapper profile-header">
    <div class="checkout-heading_content">
        <h2 class='checkout-heading'>Hi, {{user.username}}!</h2>
        <a class='profile-logout-cta' href="{% url 'account_logout' %}"> Sign Out</a>
    </div>
</div>

<section class="profile-details-wrapper">
    <div class="personal-details">
        <div class="profile-details-header">
            <h3>PERSONAL DETAILS</h3>
            <button data-toggle="tooltip" data-placement="top" title="Edit Personal Details" class='btn-edit-details'><i
                    class="fas fa-pen"></i></button>
        </div>
        <hr>
        <form action="{% url 'profile' %}" method="POST" id="profile-update-form">

            {% csrf_token %}
            <div class="nflex mb-2">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" value="{{user.username}}" minlength="5" maxlength="15" required>
            </div>
            <button data-toggle="tooltip" data-placement="top" title="Save details" class='edit-profile-info' type='submit'></button>
        </form>
        <button class='cancel-edit'>Cancel</button>
    </div>

    <div class="address-details">
        <div class="profile-details-header">
            <h3>Shipping Details</h3>
            <button data-toggle="tooltip" data-placement="top" title="Edit Shipping Details" class='btn-edit-details'><i
                    class="fas fa-pen"></i></button>
        </div>
        <hr>
        <form action="{% url 'profile' %}" method="POST" id="shipping-details-update">
            {% csrf_token %}
            <div class="nflex mb-2">
                <label for="default_address_line_1">Address Line 1</label>
                {{ form.default_address_line_1}}
            </div>
            <div class="nflex mb-2">
                <label for="default_address_line_2">Address Line 2</label>
                {{ form.default_address_line_2}}
            </div>
            <div class="nflex mb-2">
                <label for="default_address_line_2">Phone Number</label>
                {{ form.default_phone_number}}
            </div>
            <div class="nflex mb-2">
                <label for="default_address_line_2">City</label>
                {{ form.default_city}}
            </div>
            <div class="nflex mb-2">
                <label for="default_address_line_2">Post Code</label>
                {{ form.default_postcode}}
            </div>
            <div class="nflex mb-2">
                <label for="default_address_line_2">County</label>
                {{ form.default_county}}
            </div>
            <div class="nflex mb-2">
                <label for="default_address_line_2">Country</label>
                {{ form.default_country}}
            </div>
            <button data-toggle="tooltip" data-placement="top" title="Save details" class='edit-profile-info' type='submit'>
            </button>
        </form>
        <button class='cancel-edit'>Cancel</button>
    </div>
</section>

{% if orders|length != 0 %}

<section class="order-history_wrapper">
    <div class="orders-history_header">
        <img src="{{ MEDIA_URL }}all-orders-icon.png" alt="all orders icon">
        <h2>ALL ORDERS <span>({{orders|length}})</span></h2>
    </div>
    <hr>
    {% for order in orders %}
    <div class="order-details-box">
        <div class="order-details_content">
            <h4>Order Number: <span>{{order.order_number}}</span></h4>
            <h5>Order Date: {{order.date}}</h5>
            <h5>Order Total: €{{order.grand_total}}</h5>
        </div>
        <div class="order-details_expand">
            <button class='expand-order-details'>More Info</button>
        </div>
        <div class="order-details-popup">
            <div class="order-details-popup_header">
                <div class="order-details-header-main">
                    <h3 data-toggle="tooltip" data-placement="top" title="{{order.order_number}}" class='mb-4'>My Order -
                        {{order.order_number|truncatechars:10}}</h3>
                    <h5>Order Date: {{order.date}}</h5>
                </div>
                <i class="fas fa-times fa-2x close-order-popup" aria-hidden="true"></i>
            </div>
            <hr class='mb-5'>
            {% for item in order.lineitems.all %}
            <div class="order-details-product_box">
                <div class="product-main-details">
                    <h6 class='mb-2'>{{item.quantity}} x {{item.product.name}}</h6>
                    <h6>Sku: {{item.product.sku}}</h6>
                </div>
                <h5>Total: €{{item.lineitem_total}}</h5>
            </div>
            <hr>
            {% endfor %}
            <div class="order-details-shipping-info">
                <h5 class='mb-3'>Delivery Address</h5>
                <p>Name: {{order.full_name}}</p>
                {% if order.phone_number == None %}
                {% else %}
                <p>Phone number: {{order.phone_number}}</p>
                {% endif %}
                <p>{{order.address_line_1}},
                    {% if order.address_line_2 == None %}
                    {% else %} {{order.address_line_2}},
                    {% endif %}
                    {{order.city}},
                    {{order.county}},
                    {{order.postcode}},
                    {{order.country}}
                </p>
            </div>
            <hr>
            <div class="order-details-popup-total">
                <p>Subtotal:</p><span><strong>€{{order.order_total}}</strong></span>
                <p>Delivery Charge:</p><span><strong>€{{order.delivery_cost}}</strong></span>
                <p>Total:</p><span><strong>€{{order.grand_total}}</strong></span>
            </div>
        </div>
    </div>
    <hr>

    {% endfor %}
</section>
{% endif %}

<div class="delete-account">
    <form action="{% url 'profile' %}" method="POST" id='delete-user-profile'>
        {% csrf_token %}
        <input type="submit" value='Delete profile' name='delete_profile' id='delete_profile' class='delete-profile-btn'>
        {{delete_form}}
    </form>

</div>

{% endblock %}