{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="body-overlay-checkout-success">
    <section class="order_success_wrapper">
        <div class="order_success_header">
            <i class="far fa-check-circle fa-4x"></i>
            <h2>Thank you
                <br>
                Your order has been received
            </h2>
            <h6>You will receive the confirmation via email</h6>
        </div>
        <div class="order-details-wrapper">
            <h3>Order details</h3>
            <p>Order number:</p><span>{{order.order_number}}</span>
            <p>Date:</p><span>{{order.date}}</span>
            <p>Payment method:</p><span>Credit Card</span>
            <br>
            <hr>
            <br>
            <div class="order-details_total">
                <p>Subtotal:</p><span><strong>€{{order.order_total}}</strong></span>
                <p>Delivery Charge:</p><span><strong>€{{order.delivery_cost}}</strong></span>
                <p>Total:</p><span><strong>€{{order.grand_total}}</strong></span>
            </div>
        </div>
        <div class="order-product_details">
            <h3>Products</h3>
            <br>

            <div class="product-contents">
                <h6>{{order.OrderLineItem}} x {{item.product.name}}</h6>
                <p>€{{item.lineitem_total}}</p>
            </div>
            <p>Size: {{item.product_size}}</p>
            <hr>

        </div>
        <div class="order-customer-details">
            <h3>Customer Details</h3>
            <div class="details_wrapper">
                <div class="contact-details">
                    <h6>Contact</h6>
                    <p>Email: {{order.email}}</p>
                    <p>Phone number: {{order.phone_number}}</p>
                </div>
                <div class="billing-details">
                    <h6>Billing Address</h6>
                    <p>{{order.full_name}}</p>
                    <p>{{order.address_line_1}}</p>
                    {% if order.address_line_2 == None %}
                    {% else %}
                    <p>{{order.address_line_2}}</p>
                    {% endif %}
                    <p>{{order.city}}</p>
                    <p>{{order.county}}</p>
                    <p>{{order.postcode}}</p>
                    <p>{{order.country}}</p>
                </div>
            </div>

        </div>
    </section>
</div>

{% endblock %}