{% extends "base.html" %}
{% load static %}

{% block title_extend %} | Checkout{% endblock %}

{% block content %}

<style>
    .navbar,
    .footer-container {
        display: none !important;
    }
</style>

<div class="checkout-heading-wrapper">
    <div class="checkout-heading_content">
        <h2 class='checkout-heading'>SECURE CHECKOUT</h2>
        <a class='back-to-shopping-cta' href="{% url 'products' %}"> Back to Shopping</a>
    </div>

</div>

<a class='back-to-shopping-cta mobile_shp-cta' href="{% url 'products' %}"> Back to Shopping</a>

<section class="checkout-content-wrapper">
    <div class="checkout-form">
        <form action="{% url 'checkout' %}" method="POST" id="payment-form">
            {% csrf_token %}
            <fieldset class="rounded px-3 mb-5">
                <legend class="fieldset-label small text-black px-2 w-auto">Details</legend>
                {{ order_form.full_name}}
                {{ order_form.email }}
            </fieldset>
            <fieldset class="rounded px-3 mb-5">
                <legend class="fieldset-label small text-black px-2 w-auto">Delivery</legend>
                {{ order_form.phone_number}}
                {{ order_form.country}}
                {{ order_form.postcode}}
                {{ order_form.city}}
                {{ order_form.address_line_1}}
                {{ order_form.address_line_2}}
                {{ order_form.county}}
                <div class="form-check form-check-inline float-right mr-0 mt-3">
                    {% if user.is_authenticated %}
                    <label class="form-check-label" for="id-save-info">Save this delivery information to my profile</label>
                    <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
                    {% else %}
                    <label class="form-check-label" for="id-save-info">
                        <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or
                        <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                    </label>
                    {% endif %}
                </div>
            </fieldset>
            <fieldset class="px-3">
                <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
                <!-- A Stripe card element will go here -->
                <div class="mb-3" id="card-element"></div>

                <!-- Used to display form errors -->
                <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
            </fieldset>

            <div class="submit-button text-right mt-5 mb-2">
                <button id="submit-button" class="btn btn-black rounded-0">
                    <span class="font-weight-bold">Place Order</span>
                    <span class="icon">
                        <i class="fas fa-lock"></i>
                    </span>
                </button>
                <p class="small text-danger my-0 mt-3">
                    <span class="icon">
                        <i class="fas fa-exclamation-circle"></i>
                    </span>
                    <span class='order-total'>Your card will be charged <strong>€{{ grand_total|floatformat:2 }}</strong></span>
                </p>
            </div>
        </form>
    </div>
    <div class="checkout-order-summary">
        <h5>Your Order Details</h5>
        <hr>
        <div class="products-wrapper smaller_height_checkout">
            {% for item in bag_items %}
            <div class="product-box checkout-product_box">
                <div class="product-box-img">
                    <img src="{{item.image_list|first}}" alt="{{item.product.name}}">
                </div>
                <div class="product-box_details">
                    <h3>{{item.product.name}}</h3>
                    <h5>SKU: {{item.product.sku}}</h5>
                    <h5>SIZE: {{item.size}}</h5>
                    <h5 class='item_quantity'>QTY: {{item.quantity}}</h5>
                    <h4 class='product-total-price mt-5'><span>€</span>{{item.product_total|floatformat:2}}</h4>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="order-total_wrapper">
            <h5>Subtotal: <span>€{{ total|floatformat:2 }}</span></h5>
            <h5>Delivery Charge: {% if delivery == 0 %}
                <span>FREE</span>
                {% else %}
                <span>€{{delivery}}</span>
                {% endif %}
            </h5>
            <h6 class='delivery_treshold'><em>(Spend €<span></span> more to acquire a <strong>FREE</strong> Delivery)</em></h6>
            <hr class='mb-4'>
            <h4>Order Total: <span>€{{ grand_total|floatformat:2 }}</span></h4>
        </div>
    </div>
</section>
{% endblock %}