@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

$primary-black: #303841;
$secondary-black: #3A4750;
$red: #D72323;
$paper-white: #EEE;

body {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-family: 'Bebas Neue', cursive;
}

.navbar {
    background: $secondary-black;
    height: 110px;
}

.navbar-brand {
    width: 250px;
    position: relative;
    top: 3px;
}

.navbar-collapse {
    justify-content: space-around;
}

.nav-content-wrapper {
    width: 95%;
    margin: 0 auto;
}

.nav-links_wrapper {

    a {
        color: $paper-white;
        font-size: 22px;
        position: relative;
        padding: 0 !important;
        font-weight: 500;

        &::before {
            content: "";
            position: absolute;
            width: 0;
            height: 3px;
            bottom: 0;
            left: 0;
            background-color: $red;
            visibility: hidden;
            transition: all 0.3s ease-in-out;
        }

        &:hover::before {
            visibility: visible;
            width: 20px;
        }
    }

    li {
        padding: 0 15px;

    }
}

.nav-link {
    padding: 0;
}

.nav-link:focus,
.nav-link:hover {
    color: #fff;
}

.nav-icons {

    justify-content: center;
    align-items: center;

    img {
        color: $paper-white;
        background: transparent;
        border-radius: 50%;
        padding: 5px;
        cursor: pointer;

        &:hover {
            color: #fff;
            transition: .3s ease-in-out;
            background: rgba(255, 255, 255, .25);
            padding: 5px;
            border-radius: 50%;
        }
    }
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler-icon i {
    color: $paper-white;
}

.search-function {
    position: relative;

    input {
        padding: 15px 95px 15px 50px;
        background-image: url(/media/search-icon.png);
        background-position: 15px 12px;
        background-repeat: no-repeat;
        font-size: 14px;
        width: 300px;
    }

    button {
        position: absolute;
        right: 18px;
        top: 17px;
        padding: 2px 20px;
        background: $primary-black;
        color: #fff;
        border: none;
        outline: none;
        font-size: 13px;

        &:hover {
            background: $secondary-black;
        }

        &::before {
            position: absolute;
            content: '|';
            left: -20px;
            color: #D0D0D0;
            font-size: 30px;
            bottom: -7px;
            font-weight: 100;
        }
    }
}

.mobile_nav {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    background: $secondary-black;
    display: none;
    z-index: 1000;
}

.nav-content_wrapper {
    width: 90%;
    padding: 3% 6%;
}

.fa-times {
    color: #fff;
    transition: .2s ease-out;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }
}

.nav-content_navigate {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile_nav_links {

    padding-left: 30px;
    margin-top: 70px;

    li {
        list-style: none;

        a {
            color: $paper-white;
            font-size: 1.5em;
            position: relative;

            &::after {
                content: url('/media/arrow-right.png');
                position: absolute;
                right: 0;
                max-width: 100%;
                transition: .2s ease-in-out;
            }

            &:hover::after {
                right: -10px;

            }
        }
    }

}

.support-links {
    margin-top: 50px;

    li {
        list-style: none;
        padding: 5px 0;
    }

    a {
        color: $paper-white;
    }
}

.mt2 {
    margin-top: 100px;
}

.hr-lg {
    color: #fff;
}

.social-icons_wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    i {
        font-size: 25px;
        color: $paper-white;
        margin-right: 10px;
        background: rgba(255, 255, 255, .25);
        padding: 10px;
        border-radius: 50%;
        text-align: center;
        width: 50px;
        height: 50px;
        vertical-align: middle;
        line-height: 29px;
        transition: .3s ease-out;
        cursor: pointer;

        &:hover {
            background: rgba(215, 35, 35, .25)
        }
    }

}

/************************ HERO SECTION **/

.hero-container {
    background: url('/media/hero-img.png') no-repeat center;
    width: 100%;
    background-size: cover;
    height: 1000px;
}

.hero-content-wrapper {
    display: flex;
    align-items: center;
}

.hero-content {
    padding: 250px 125px;
    color: $paper-white;
    align-self: flex-start;

    p {
        font-size: 30px;
        width: 80%;
        margin-top: 20px;
    }
}

.hero-title {
    font-size: 5em
}

.button-element {
    margin-top: 30px;
}

.shop-button {
    background: $secondary-black;
    color: $paper-white;
    padding: 10px 50px;
    border-radius: 0;
    z-index: 5;
    font-size: 20px;
    font-weight: 600;
    position: relative;

    &:hover {
        color: $paper-white;
        background: lighten($secondary-black, 5%);
    }
}

.red-cover {
    border: 1px solid $red;
    width: 221px;
    height: 57px;
    position: relative;
    top: 60px;
    left: 7px;
    z-index: 0;
    background: transparent;
}

.product-price_wrapper {
    align-self: flex-end;
    margin-bottom: 200px;
    width: 30%;
}

.product-price_bubble {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    background: linear-gradient(130.4deg, rgba(215, 35, 35, .6) 0%, rgba(48, 56, 65, .6) 100%);
    justify-content: center;
    align-items: center;

    h1 {
        color: $paper-white;
        font-size: 70px;
    }

    span {
        font-size: 50px;
        position: relative;
        bottom: 20px;
    }
}

.social-sidebar {
    transform: rotate(-90deg);

    hr {
        color: $paper-white;
    }

}

.social-title {
    text-align: center;
    font-size: 20px;
    color: $paper-white;
    text-decoration: none;
    margin-bottom: 10px;

    &:hover {
        color: $paper-white;
    }
}


.hr-align {
    margin-left: 150px;
}

.rotate-selector {

    justify-content: space-evenly;

    i {
        transform: rotateZ(90deg);
        margin: 20px 0;
        padding: 10px;
    }
}

/************************ MEDIA QUERIES **/


@media only screen and (min-width: 1600px) {
    .search-function input {
        width: 500px;
    }
}

@media only screen and (max-width: 1200px) {
    .nav-icons {
        display: none;
    }

    .navbar {
        flex-wrap: unset;
    }

    .hero-content {
        padding: 200px 125px;
    }

    .hero-title {
        font-size: 4em;
    }

    .hero-content p {
        font-size: 25px;
    }
}

.rotate_back {
    transform: rotateZ(-90deg) !important;
}


@media only screen and (max-width: 990px) {
    .hero-content-wrapper {
        flex-wrap: wrap;
    }

    .hero-content {
        padding: 200px 50px 100px 50px;
        ;
    }


    .product-price_wrapper {
        width: 80%;
        margin: 0 0 0 auto;
    }

    .social-sidebar,
    .hr-align {
        display: none;
    }
}