@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

$primary-black: #303841;
$secondary-black: #3A4750;
$red: #D72323;
$paper-white: #EEE;

body {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-family: 'Bebas Neue', cursive;
}

.navbar {
    background: $secondary-black;
    height: 110px;
}

.navbar-brand {
    width: 250px;
    position: relative;
    top: 3px;
}

.navbar-collapse {
    justify-content: space-around;
}

.nav-content-wrapper {
    width: 90%;
    margin: 0 auto;
}

.nav-links_wrapper {

    a {
        color: $paper-white;
        font-size: 22px;
        position: relative;
        padding: 0 !important;
        font-weight: 500;

        &::before {
            content: "";
            position: absolute;
            width: 0;
            height: 3px;
            bottom: 0;
            left: 0;
            background-color: $red;
            visibility: hidden;
            transition: all 0.3s ease-in-out;
        }

        &:hover::before {
            visibility: visible;
            width: 20px;
        }
    }

    li {
        padding: 0 15px;

    }
}

.nav-link {
    padding: 0;
}

.nav-link:focus,
.nav-link:hover {
    color: #fff;
}

.nav-icons {

    justify-content: center;
    align-items: center;

    img {
        color: $paper-white;
        background: transparent;
        border-radius: 50%;
        padding: 5px;
        cursor: pointer;

        &:hover {
            color: #fff;
            transition: .3s ease-in-out;
            background: rgba(255, 255, 255, .25);
            padding: 5px;
            border-radius: 50%;
        }
    }
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler-icon i {
    color: $paper-white;
}

.search-function {
    position: relative;

    input {
        padding: 15px 95px 15px 55px;
        background-image: url(/media/search-icon.png);
        background-position: 15px 12px;
        background-repeat: no-repeat;
        font-size: 14px;
        width: 300px;
    }

    button {
        position: absolute;
        right: 18px;
        top: 17px;
        padding: 2px 20px;
        background: $primary-black;
        color: #fff;
        border: none;
        outline: none;
        font-size: 13px;

        &:hover {
            background: $secondary-black;
        }

        &::before {
            position: absolute;
            content: '|';
            left: -20px;
            color: #D0D0D0;
            font-size: 30px;
            bottom: -7px;
            font-weight: 100;
        }
    }
}

.mobile-search {
    padding-left: 32px;
    margin: 35px 0 0 0;

    input {
        width: 100%;
    }

}

.mobile_nav {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    background: $secondary-black;
    display: none;
    z-index: 1000;
}

.nav-content_wrapper {
    width: 90%;
    padding: 3% 6%;
}

.fa-times {
    color: #fff;
    transition: .2s ease-out;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }
}

.nav-content_navigate {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile_nav_links {

    padding-left: 30px;
    margin-top: 70px;

    li {
        list-style: none;

        a {
            color: $paper-white;
            font-size: 1.5em;
            position: relative;

            &::after {
                content: url('/media/arrow-right.png');
                position: absolute;
                right: 0;
                max-width: 100%;
                transition: .2s ease-in-out;
            }

            &:hover::after {
                right: -10px;

            }
        }
    }

}

.support-links {
    margin-top: 50px;

    li {
        list-style: none;
        padding: 5px 0;
    }

    a {
        color: $paper-white;
    }
}

.mt2 {
    margin-top: 100px;
}

.hr-lg {
    color: #fff;
}

.social-icons_wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    i {
        font-size: 25px;
        color: $paper-white;
        margin-right: 10px;
        background: rgba(255, 255, 255, .25);
        padding: 10px;
        border-radius: 50%;
        text-align: center;
        width: 50px;
        height: 50px;
        vertical-align: middle;
        line-height: 29px;
        transition: .3s ease-out;
        cursor: pointer;

        &:hover {
            background: rgba(215, 35, 35, .25)
        }
    }

}

/* Profile hover modal */

.login_modal {
    position: absolute;
    right: 0;
    background: rgba(238, 238, 238, .8);
    text-align: center;
    padding-top: 30px;
    padding: 30px 15px 0 15px;
    height: 150px;
    display: none;

    h4 {
        display: inline-block;
        color: $paper-white;
        font-size: 15px;
        color: $secondary-black;
    }

    a {
        display: inline-block;
        color: $paper-white;
        padding-left: 3px;
        font-size: 15px;
        color: $secondary-black;

        &:hover {
            color: $red;
        }

    }
}

.sign-in_btn {
    background-color: $primary-black;
    color: #fff;
    padding: 10px 75px;
    border-radius: 0;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;

    &:hover {
        color: $paper-white;
        background: lighten($primary-black, 10%);
    }
}

.hr-small {
    margin: 0 0 5px 0;
    color: $primary-black;
}

/************************ HERO SECTION **/

.hero-container {
    background: url('/media/hero-img.png') no-repeat center;
    width: 100%;
    background-size: cover;
    height: 1000px;
}

.hero-content-wrapper {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.hero-content {
    padding: 250px 125px;
    color: $paper-white;
    align-self: flex-start;

    p {
        font-size: 30px;
        width: 80%;
        margin-top: 20px;
    }
}

.hero-title {
    font-size: 5em
}

.button-element {
    margin-top: 30px;
}

.shop-button {
    background: $secondary-black;
    color: $paper-white;
    padding: 10px 50px;
    border-radius: 0;
    z-index: 5;
    font-size: 20px;
    font-weight: 600;
    position: relative;

    &:hover {
        color: $paper-white;
        background: lighten($secondary-black, 5%);
    }
}

.red-cover {
    border: 1px solid $red;
    width: 221px;
    height: 57px;
    position: relative;
    top: 60px;
    left: 7px;
    z-index: 0;
    background: transparent;
}

.product-price_wrapper {
    align-self: flex-end;
    margin-bottom: 200px;
    width: 30%;
}

.product-price_bubble {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    background: linear-gradient(130.4deg, rgba(215, 35, 35, .6) 0%, rgba(48, 56, 65, .6) 100%);
    justify-content: center;
    align-items: center;

    h1 {
        color: $paper-white;
        font-size: 70px;
    }

    span {
        font-size: 50px;
        position: relative;
        bottom: 20px;
        padding-right: 5px;
    }
}

.social-sidebar {
    transform: rotate(-90deg);

    hr {
        color: $paper-white;
    }

}

.social-title {
    text-align: center;
    font-size: 20px;
    color: $paper-white;
    text-decoration: none;
    margin-bottom: 10px;

    &:hover {
        color: $paper-white;
    }
}


.hr-align {
    margin-left: 150px;
}

.rotate-selector {

    justify-content: space-evenly;

    i {
        transform: rotateZ(90deg);
        margin: 20px 0;
        padding: 10px;
    }
}

/********************* PRODUCTS PAGE **/
.product-tools-wrapper {
    margin-top: 150px;
    width: 90%;
    margin: 150px auto 50px auto;
    position: relative;

    h3 {
        font-size: 20px;
        float: left;
    }

    span {
        font-size: 17px;
    }

    hr {
        clear: both;
        margin-top: 20px;
        opacity: 0.8;
        color: $paper-white;
    }
}

.filter-box {
    position: absolute;
    right: 0;
    z-index: 1000;
    top: 48px;
    display: none;

    ul {
        list-style: none;
        background: $secondary-black;
        padding: 35px;

        a {
            color: $paper-white;
            text-decoration: none;
        }

        li {
            padding: 5px 0;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.sort-filter {
    float: right;
    font-size: 18px;
    margin-bottom: 25px;
    cursor: pointer;

    &::after {
        content: '\f0dd';
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        padding-left: 8px;
        position: relative;
        bottom: 3px;
    }
}

.product-listing-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    gap: 50px;
}

.product-card {
    flex: 1 0 21%;
    margin: 5px;
    text-align: center;

    img {
        height: 400px;
    }

    h2 {
        font-size: 20px;
    }

    a {
        color: $red;
        font-weight: 600;
        text-decoration: none;
    }
}

.learn-more-wrapper {
    position: relative;

    div,
    a,
    h1 {
        display: none
    }

    h1 {
        position: absolute;
        bottom: 0;
        right: 20px;
        font-size: 50px;

        span {
            font-size: 35px;
            position: relative;
            bottom: 10px;
            right: 1px
        }
    }
}

.background-overlay {
    background: $primary-black;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .2;
}

.learn-more-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $primary-black;
    color: $paper-white !important;
    padding: 10px 35px;
    box-shadow: inset 2px 2px 10px 0 $red;

    &:hover {
        background: $secondary-black;
    }
}

.product-seperator {
    color: #b5b5b5;
    margin-bottom: 20px;
}

.page-seperator {
    margin: 200px 0 100px 0;

    hr {
        width: 90%;
        margin: 0 auto;
        color: #b5b5b5;
    }
}


.rotate_back {
    transform: rotateZ(-90deg) !important;
}

/********************** PRODUCT DETAIL **/

.product-detail-wrapper {
    margin: 200px auto;
    display: flex;
    justify-content: space-between;
    width: 95%;


}

.product-images {
    width: 50%;

    img {
        width: 600px;
        height: 600px;
    }
}

.product-details {
    border-left: 1px solid rgba(48, 56, 65, .2);
    padding: 5%;
    width: 45%;

    a {
        color: $secondary-black;
        text-decoration: none;
        padding-bottom: 15px;
        display: block;
        font-weight: 500;
    }

    h4 {
        font-size: 15px;
    }
}

.product-images-additional {

    img {
        width: 150px;
        height: 150px;
        margin: 10px;
        padding: 5px;
        cursor: pointer;

        &:hover {
            box-shadow: 5px 5px 15px rgba(1, 1, 1, .1);
        }
    }

}

.rating-and-sku {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;

    p {
        font-size: 15px;
    }
}

.product-rating {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        padding-right: 10px;
    }

    img {
        width: 18px;
        height: 17px;
    }

    i {
        color: #FFD700;
    }
}

.product-action {

    margin-top: 35px;

    p {
        font-size: 30px;
    }

}

.rating-score {
    margin-bottom: 0;
}

/********************** FOOTER SECTION **/

.footer-container {
    background: $primary-black;

}

.footer-container_wrapper {
    width: 90%;
    margin: 0 auto;
}

.footer-seperator {
    color: $paper-white;
}

.footer-action {
    margin-top: 110px;
    display: flex;
    justify-content: space-between;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    gap: 35px;
    width: 60%;
}

.newsletter-signup {

    h2 {
        color: $paper-white;
        font-size: 25px;
        margin-bottom: 30px;
    }

    input {
        width: 100%;
        height: 50px;
        padding: 10px;
        border-radius: 0;
        outline: none;
    }
}

.footer-links-section {
    width: 50%;


    h1 {
        color: $paper-white;
        font-size: 3em;
    }

    hr {
        color: $red;
        height: 1px;
        opacity: 0.8;
    }

    ul {
        list-style: none;
        margin-top: 20px;
        padding: 0;

        li {
            padding: 5px 0;
        }

        a {
            color: $paper-white;
            text-decoration: none;
        }
    }
}

.newsletter-form {
    position: relative;

    button {
        position: absolute;
        right: 18px;
        top: 10px;
        padding: 6px 20px;
        background: $primary-black;
        color: #fff;
        border: none;
        outline: none;
        font-size: 13px;

        &::before {
            position: absolute;
            content: '|';
            left: -20px;
            color: #D0D0D0;
            font-size: 25px;
            bottom: -2px;
            font-weight: 100;
        }

        &:hover {
            background: $secondary-black;
        }
    }

}

.footer-social {
    text-align: right;
    margin: 0 250px 50px 0;

    h2 {
        color: $paper-white;
        font-size: 22px;
    }

    hr {
        color: $red;
        width: 10%;
        opacity: .8;
        margin-left: auto;
    }
}

.copyright-bar {
    margin: 0 auto;
    clear: both;


    hr {
        color: $paper-white;
    }

    h3 {

        color: $paper-white;
        font-size: 15px;
    }

}

.copyright-bar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accepted-cards {


    img {
        padding: 0 5px;
    }
}

/************************ MEDIA QUERIES **/


@media only screen and (min-width: 1600px) {
    .search-function input {
        width: 500px;
    }
}

@media only screen and (max-width: 1200px) {
    .nav-icons {
        display: none;
    }

    .navbar {
        flex-wrap: unset;
    }

    .hero-content {
        padding: 200px 125px;
    }

    .hero-title {
        font-size: 4em;
    }

    .hero-content p {
        font-size: 25px;
    }

    .footer-action {
        flex-wrap: wrap;
        margin-top: 80px;
    }

    .footer-links {
        width: 100%;
        flex-wrap: wrap;
    }

    .footer-links-section {
        width: 100%;

        &:nth-child(2) {
            text-align: right;
        }
    }

    .newsletter-signup {

        margin: 35px 0;

        h2 {
            font-size: 20px;
        }

        input {
            font-size: 14px;
        }

        button {
            padding: 5px;
            font-size: 12px;
        }
    }



}



@media only screen and (max-width: 990px) {



    .hero-content-wrapper {
        flex-wrap: wrap;
    }

    .hero-content {
        padding: 200px 50px 100px 50px;
        ;
    }


    .product-price_wrapper {
        width: 80%;
        margin: 0 0 0 auto;
    }

    .social-sidebar,
    .hr-align {
        display: none;
    }
}

@media only screen and (max-width: 750px) {
    .copyright-bar-content {
        flex-wrap: wrap;

        h3 {
            width: 100%;
            text-align: center;
        }
    }

    .accepted-cards {
        width: 100%;
        text-align: center;
        margin: 5px 0 10px 0;
    }
}