<section class="bag_wrapper">
    <div class="top-menu-actions">
        <h2>Your Bag ({{product_count}})</h2>
        <i class="fas fa-times fa-2x close-bag"></i>
    </div>
    <div class="basket_contents_and_action">
        <div class="products-wrapper">
            {% for item in bag_items %}
            <div class="product-box">
                <div class="product-box-img">
                    <div class="background-overlay overlay-white"></div>
                    <img src="{{item.image_list|first}}" alt="{{item.product.name}}">
                </div>
                <div class="product-box_details">
                    <h3>{{item.product.name}}</h3>
                    <h5>SKU:{{item.product.sku}}</h5>
                    <!--Product quantity adjust-->
                    <div class="add-to-cart-actions bag-options">
                        <div class="quantity_selector bag-quantity">
                            <div class="form-group">
                                <form class='update_bag_form' method='POST' action="{% url 'update_bag' item.item_id %}">
                                    {% csrf_token %}
                                    <label for="quantity">Quantity</label>
                                    <input class="form-control qty_input_bag" type="number" name="quantity" value="{{item.quantity}}" min="1" max="99"
                                        data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id}}">
                                    <input type="hidden" name="redirect_url_bag" value="{{ request.path }}">
                                </form>
                                <a class="update-link" id="update_{{ item.item_id }}"><small>Update</small></a>
                                <a class="remove-item float-right" id="remove_{{ item.item_id }}"><small>Remove</small></a>
                            </div>
                        </div>
                        <h5 class='item_quantity_original'>{{item.quantity}}</h5>
                        <div class="product_price_holder">
                            <span>€</span>
                            <h4 class='product-total'></h4>
                            <h6 class='product-price'>{{item.product.price}}</h6>
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="basket-subtotal-wrapper">
            <h5>Basket Subtotal</h5>
            <h5 class='basket-total'></h5>
        </div>
        <hr class='basket-seperator'>
        <div class="checkout_btn-wrapper">
            <button>Checkout</button>
        </div>
    </div>

</section>


<script>
    // Update quantity on click
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update_bag_form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>