<section class="bag_wrapper">
    <div class="top-menu-actions">
        <h2 class='total_items_in_bag'>Your Bag (<span>{{product_count}}</span>)</h2>
        <i class="fas fa-times fa-2x close-bag"></i>
    </div>
    <div class="basket_contents_and_action">
        {% if bag_items %}
        <div class="products-wrapper">
            {% for item in bag_items %}
            <div class="product-box">
                <div class="product-box-img">
                    <div class="background-overlay overlay-white"></div>
                    <img src="{{item.image_list|first}}" alt="{{item.product.name}}">
                </div>
                <div class="product-box_details">
                    <h3>{{item.product.name}}</h3>
                    <h5>SKU: {{item.product.sku}}</h5>
                    <h5>SIZE: {{item.size}}</h5>
                    <h5></h5>
                    <!--Product quantity adjust-->
                    <div class="add-to-cart-actions bag-options">
                        <div class="quantity_selector bag-quantity">
                            <div class="form-group">
                                <form class='update_bag_form' method='POST' action="{% url 'update_bag' item.item_id %}">
                                    {% csrf_token %}
                                    <label for="quantity">Quantity</label>
                                    <input class="form-control qty_input_bag" type="number" name="quantity" value="{{item.quantity}}" min="1" max="99"
                                        max-length='99' data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id}}">
                                    <input type="hidden" name="redirect_url_bag" value="{{ request.path }}">
                                    <input class='product_size' name='product_size' type="hidden" data-product_size='{{item.size}}'
                                        value='{{item.size}}'>
                                </form>
                                <a class="remove-item float-right" id="remove_{{ item.item_id }}"
                                    data-product_size="{{ item.size }}"><small>Remove</small></a>
                            </div>
                        </div>
                        <h5 class='item_quantity_original'>{{item.quantity}}</h5>
                        <div class="product_price_holder">
                            <span>€</span>
                            <h4 class='product-total'></h4>
                            <h6 class='product-price'>{{item.product.price}}</h6>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="bottom-menu-actions-wrapper">
            <div class="bottom_menu_actions">
                <div class="delivery-total">
                    <h5>Delivery Charge</h5>
                    <h6 class='delivery_amount'>€6.99</h6>
                    <h2 class='delivery_treshold'>(Spend €<span></span> more to acquire a <strong>FREE</strong> Delivery)</h2>
                </div>
                <div class="basket-subtotal-wrapper">
                    <h5>Basket Subtotal</h5>
                    <h5 class='basket-total'></h5>
                </div>
                <hr class='basket-seperator'>
                <div class="checkout_btn-wrapper">
                    <a href="{% url 'checkout' %}">Checkout</a>
                </div>
            </div>
        </div>
        {% else %}

        <div class="shop_options">
            <h4 class='no_products_in_basket'>
                No products in your basket at the moment.
            </h4>

            <hr>
            <div class="shop_by_cat">
                <h4>Shop by Category:</h4>
                <a aria-current="page" href="{% url 'products' %}?category=men">Men</a>
                <a aria-current="page" href="{% url 'products' %}?category=women">Women</a>
            </div>


            <div class="shop_by_brand">

                <h4>Shop by Brand:</h4>
                <a href="{% url 'products' %}?brand=ORIGINALS">Originals</a>
                <a href="{% url 'products' %}?brand=CORE%20/%20NEO">CORE / NEO</a>
                <a href="{% url 'products' %}?brand=SPORT%20PERFORMANCE">Sport Performance</a>
            </div>
        </div>

        {% endif %}
    </div>

</section>


<script>
    // Update quantity on click
    $('.qty_input_bag').click(function (e) {
        var form = $(this).parent();
        form.submit(function (e) {
            e.preventDefault();
        })
        data = {
            'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val(),
            "quantity": $(this).val(),
            "product_size": $(this).next().next().val()
        }
        product_url = $(this).attr('data-item_id');
        $.post({
            type: "POST",
            url: `/bag/update/${product_url}/`,
            data: data,
            success: function () {
                console.log("Data: " + data['quantity']);
                console.log(product_url)
            }
        });
    });

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        e.preventDefault();
        var csrfToken = "{{ csrf_token }}";
        var size = $(this).data('product_size');
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        data = {
            'csrfmiddlewaretoken': csrfToken,
            "product_size": size
        }
        $.post({
            type: "POST",
            url: url,
            data: data,
            success: function () {
                console.log("Data: " + data['quantity']);
                console.log(url)
            }
        });
    });
</script>