<section class="bag_wrapper">
    <div class="top-menu-actions">
        <h2>Your Bag ({{product_count}})</h2>
        <i class="fas fa-times fa-2x close-bag"></i>
    </div>
    <div class="products-wrapper">
        {% for item in bag_items %}
        <div class="product-box">
            <div class="product-box-img">
                <div class="background-overlay overlay-white"></div>
                <img src="{{item.image_list|first}}" alt="{{item.product.name}}">
            </div>
            <div class="product-box_details">
                <h3>{{item.product.name}}</h3>
                <h6>SKU:{{item.product.sku}}</h6>
                <!--Product quantity adjust-->
                <form>
                    {% csrf_token %}
                    <div class="form-row add-to-cart-actions bag-options">
                        <div class="quantity_selector bag-quantity">
                            <div class="form-group">
                                <div class="input-group">
                                    <label for="quantity">Quantity</label>
                                    <input class="form-control qty_input" type="number" name="quantity" value="{{item.quantity}}" min="1" max="99"
                                        data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                </div>
                            </div>
                        </div>
                        <h4>€{{item.product.price}}</h4>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</section>