<!-- Footer section-->
<section class='footer-container'>
    <div class="footer-container_wrapper">
        <hr class='footer-seperator'>
        <div class="footer-action">
            <div class="footer-links">
                <div class="footer-links-section">
                    <h2>QUICK LINKS</h2>
                    <hr>
                    {% if user.is_authenticated %}
                    <ul class="support-links">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profile' %}">My Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profile' %}">My Orders</a>
                        </li>
                    </ul>
                    {% else %}
                    <ul class="support-links">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_login' %}">Sign In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                        </li>
                    </ul>
                    {% endif %}

                </div>

                <div class="footer-links-section">
                    <h2>SHOP</h2>
                    <hr>

                    <h5>Categories:</h5>
                    <ul>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'products' %}?category=men">Men</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'products' %}?category=women">Women</a>
                        </li>
                    </ul>

                    <h5 class='mt-3'>Brands:</h5>
                    <ul>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'products' %}?brand=ORIGINALS">Originals</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'products' %}?brand=CORE%20/%20NEO">CORE / NEO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'products' %}?brand=SPORT%20PERFORMANCE">Sport Performance</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="newsletter-signup">
                <h2>sign up and get 10% off first order</h2>
                <form class='newsletter-form'>
                    <label class='sr-only' for="email">Email Address</label>
                    <input type="email" id='email' name='email' placeholder="email address">
                    <button type='submit'>SUBSCRIBE</button>
                </form>
            </div>
        </div>
        <div class="footer-social">
            <h2>connect with us</h2>
            <hr>
            <div class="social-icons_wrapper footer-v">
                <a href=" https://www.facebook.com/" target='_blank' rel="noreferrer"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/?lang=en" target='_blank' rel="noreferrer"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/" target='_blank' rel="noreferrer"><i class=" fab fa-instagram"></i></a>
            </div>
        </div>

        <div class="copyright-bar">
            <hr>
            <div class="copyright-bar-content">
                <h3>© COPYRIGHT 2021 | Designed & Developed By Boris Gersic</h3>
                <div class="accepted-cards">
                    <img src="{{ MEDIA_URL}}card-1.png" alt="visa icon">
                    <img src="{{ MEDIA_URL}}card-2.png" alt="mastercard icon">
                    <img src="{{ MEDIA_URL}}card-3.png" alt="paypal icon">
                </div>
            </div>
        </div>
    </div>

</section>