<!-- navigation medium/small -->

<div class="mobile_nav">
    <div class="nav-content_wrapper">
        <div class="nav-content_navigate">
            <a href="{% url 'home' %}"><img class="navbar-brand" src="{{ MEDIA_URL }}logo.png" /></a>
            <i class="fas fa-times fa-3x"></i>
        </div>
        <ul class="mobile_nav_links">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">MEN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">WOMEN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">BRANDS</a>
            </li>
        </ul>
        <ul class="support-links">
            <li class="nav-item">
                <a class="nav-link" href="#">Log In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Register</a>
            </li>
        </ul>
        <hr class='hr-lg mt2'>
        <div class="social-icons_wrapper">
            <a href="https://www.facebook.com/" target='_blank'><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/?lang=en" target='_blank>'></a><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/" target='_blank'><i class=" fab fa-instagram"></i></a>

        </div>
    </div>

</div>