<!-- navigation medium/small -->

<div class="mobile_nav">
    <div class="nav-content_wrapper">
        <div class="nav-content_navigate">
            <a href="{% url 'home' %}"><img class="navbar-brand" src="{{ MEDIA_URL }}logo.png" alt='logo-img' /></a>
            <i class="fas fa-times fa-3x"></i>
        </div>

        <form method='GET' class="search-function mobile-search" action="{% url 'products' %}">
            <label class='sr-only' for="search_term"></label>
            <input class="form-control me-2 rounded-0" name="search_term" id="search_term_mobile" type="search" placeholder="Search"
                aria-label="Search">
            <button type="submit">GO</button>
        </form>

        <ul class="mobile_nav_links">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'products' %}?category=men">MEN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'products' %}?category=women">WOMEN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'products' %}">BRANDS</a>
            </li>
        </ul>

        {% if user.is_authenticated %}
        <ul class="support-links">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}">My Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}">My Orders</a>
            </li>
        </ul>

        <hr class='hr-lg mt2'>
        <div class="mobile-menu-bottom-actions">
            <a data-toggle="tooltip" data-placement="top" title="Log Out" href="{% url 'account_logout' %}"><i
                    class="fas fa-sign-out-alt fa-2x"></i></a>
            <div class="social-icons_wrapper">
                <a href="https://www.facebook.com/" target='_blank'><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/?lang=en" target='_blank'><i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.instagram.com/" target='_blank'><i class=" fab fa-instagram"></i></a>

            </div>
        </div>
        {% else %}
        <ul class="support-links">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_login' %}">Sign In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
            </li>
        </ul>

        <hr class='hr-lg mt2'>
        <div class="social-icons_wrapper">
            <a href="https://www.facebook.com/" target='_blank' rel="noreferrer"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/?lang=en" target='_blank'> rel="noreferrer"><i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.instagram.com/" target='_blank' rel="noreferrer"><i class=" fab fa-instagram"></i></a>
        </div>
        {% endif %}

    </div>

</div>