    <!-- navigation large -->
    <nav class="navbar navbar-expand-xl d-flex">
        <div class="container-fluid nav-content-wrapper">
            <a href="{% url 'home' %}"><img class="navbar-brand" src="{{ MEDIA_URL }}logo.png" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fas fa-bars fa-2x"></i></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav nav-links_wrapper">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'products' %}?category=men">MEN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'products' %}?category=women">WOMEN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            BRANDS
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark brand-submenu" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'products' %}?brand=ORIGINALS">Originals</a></li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?brand=CORE / NEO">CORE / NEO</a></li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?brand=SPORT PERFORMANCE">Sport Performance</a></li>
                        </ul>
                    </li>
                </ul>
                <form method='GET' class="search-function" action="{% url 'products' %}">
                    <input class="form-control me-2 rounded-0" name="search_term" id="search_term" type="search" placeholder="Search"
                        aria-label="Search">
                    <button type="submit">GO</button>
                </form>
            </div>

            <div class="nav-icons">
                <div data-toggle="tooltip" data-placement="top" title="Your Bag" class="shopping-bag-wrapper">
                    <img class='shopping_bag' src="{{ MEDIA_URL }}bag-icon.png" alt="bag icon">
                    {% if product_count > 0 %}
                    <span>{{product_count}}</span>
                    {% endif %}
                </div>
                <img class='profile-icon img-test' src="{{ MEDIA_URL }}profile-icon.png" alt="profile icon">
            </div>
        </div>
    </nav>

    {% if user.is_authenticated %}
    <div data-toggle="tooltip" data-placement="top" title="Your Profile" class="profile_icon_loggedin-wrapper">
        <a class='profile_icon_loggedin' href="{% url 'profile' %}"> <img class='profile-icon' src="{{ MEDIA_URL }}profile-icon.png"
                alt="profile icon">
        </a>
        <div></div>
    </div>
    {% else %}
    <div class="login_modal">
        <a href='{% url "account_login" %}' class='btn sign-in_btn'>SIGN IN</a>
        <hr class='hr-small'>
        <h4>Don't have an account? </h4><a href='{% url "account_signup" %}'>Register here!</a>
    </div>
    {% endif %}