{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="product-detail-wrapper">
    <div class="product-images">
        <img src="{{product.images|first}}" alt="{{product.name}}">
        <hr>
        <div class="product-images-additional">
            {% for image in product.images %}
            <img src='{{image}}' alt="">
            {% endfor %}
        </div>
    </div>

    <div class="product-details">
        <a href="">{{product.brand}}</a>
        <h1>{{product.name}}</h1>
        <hr>
        <div class="rating-and-sku">
            <div class="product-rating">
                <p class='rating-score'>{{product.rating}}</p>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <p>SKU: {{product.sku}}</p>
        </div>
        <h4>SELECT THE SIZE:</h4>
        <hr>
        <p>{{product.description}}</p>

        <div class="product-action">
            <p>€{{product.price}}</p>
        </div>

    </div>


</div>

{% endblock %}