{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="product-detail-wrapper">
    <div class="product-images">
        <img src="{{product.images|first}}" alt="{{product.name}}">
        <hr>
        <div class="product-images-additional">
            {% for image in product.images %}
            <img src='{{image}}' alt="">
            {% endfor %}
        </div>
    </div>

    <div class="product-details">
        {% if product.brand == 'ORIGINALS' %}
        <img src="{{MEDIA_URL}}brand_logo_1.png" alt="{{product.brand}} brand logo">
        {% endif %}
        {% if product.brand == 'CORE / NEO' %}
        <img src="{{MEDIA_URL}}brand_logo_2.png" alt="{{product.brand}} brand logo">
        {% endif %}
        {% if product.brand == 'SPORT PERFORMANCE' %}
        <img src=" {{MEDIA_URL}}brand_logo_3.png" alt="{{product.brand}} brand logo">
        {% endif %}
        <h1>{{product.name}}</h1>
        <hr>
        <div class="rating-and-sku">
            {% include 'includes/rating_product_page.html' %}
            <p>SKU: {{product.sku}}</p>
        </div>
        <h4>SELECT THE SIZE:</h4>
        <hr>
        <p>{{product.description}}</p>

        <div class="product-action">
            <p>€{{product.price}}</p>
        </div>

        <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
            {% csrf_token %}
            <div class="form-row add-to-cart-actions">
                <div class="quantity_selector">
                    <div class="form-group">
                        <div class="input-group">
                            <label class='sr-only' for="quantity">Quantity</label>
                            <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99"
                                data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                        </div>
                    </div>
                </div>

                <div class="submit_btn">
                    <input type="submit" class="btn btn-black rounded-0" value="Add to Bag">
                </div>
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </div>
        </form>

        <p>{{bag}}</p>

    </div>

    <!-- Add to bag-->

</div>

{% endblock %}