{% extends "base.html" %}
{% load static %}


{% block content %}

<!--Products Count & Filter -->
<div class="product-tools-wrapper">
    (<span>{{products|length}}</span>)
    Products {% if current_categories %} found in category
    <strong>{% for c in current_categories %}{{c}}{% endfor %}</strong>
    {% endif %}

    {% if search_term %}
    found for <strong>"{{ search_term }}"</strong>
    {% endif %}

    </h3>

    <h4 class='sort-filter'>Sort By</h4>
    <hr class='hr-clear'>
    <div class="filter-box">
        <ul>
            <a href="{% url 'products' %}?sort=price&direction=asc">
                <li>Price (low - high)</li>
            </a>
            <a href="{% url 'products' %}?sort=price&direction=dsc">
                <li>Price (high - low) </li>
            </a>
            <a href="{% url 'products' %}?sort=rating">
                <li>Rating</li>
            </a>

        </ul>
    </div>
</div>


<!--Products Listing -->
<section class="product-listing-wrapper">
    {% for product in products %}
    <div class="product-card">
        <div class="learn-more-wrapper">
            <div class="background-overlay"></div>
            <a class='learn-more-btn' href="{% url 'product_detail' product.id %}">Learn More</a>
            <img src="{{product.images|first}}" alt="{{product.name}}">
            <h1 class='product-price'><span>€</span>{{product.price}}</h1>
        </div>
        <div class="product-card-detail">
            <hr class='product-seperator'>
            <h2>{{product.name}}</h2>
            <a href="">{{product.brand}}</a>
        </div>
    </div>
    {% endfor %}
</section>

<div class="page-seperator">
    <hr>
</div>

{% endblock %}